@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Quicksand:wght@500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    border: 1px solid white;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('images/homebg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.rightbox {
    display: flex;
    gap: 5rem;
    justify-content: center;
    text-align: center;
    width: 40rem;
}

.rightbox a {
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 2.5rem;
    color: hsl(0, 0%, 100%);
    font-family: 'Almarai', sans-serif;
}

.rightbox a:hover {
    color: rgb(100, 226, 226);
}

.botbox img:hover {
    opacity: 65%;
    cursor: pointer;
}

.home {
    margin-left: 70rem;
}

.box {
  background-color: rgba(54, 52, 52, 0.5);
    color: white;
    padding: 2rem;
    height: 63%;
    width: 32.5%;
    position: absolute;
    text-align: justify;
    margin-bottom: auto;
    border-radius: 4rem;
    overflow: hidden;
}


#slider{
    display: inline-block;
    transition: .5s;
}

.box h1 {
    font-size: 6.7rem;
    font-family: 'Secular One', sans-serif;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 1);
}

.box h2 {
    font-family: 'Almarai', sans-serif;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}

.box span {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}

.imgContainer{
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: right;
    justify-content: end;
    margin-top: 5rem;
    margin-left: 63rem;
    object-position: right center;
}
.swiper {
    width: 60%;
    height: fit-content;
    
}

.swiper-slide img{
    width: 100%;
    
}
.botbox {
    padding: 1rem;
    position: absolute;
    text-align: left;
    margin: auto;
}